.red {
  color: #9b191b;
  text-align: center;
  padding-top: 20%;
  font-size: 1.7em;
}

.blue {
  color: #0b69d4;
}

.red1 {
  color: #9b191b;
}

.win {
  justify-self: center;
  align-self: center;
  color: #04ca0e;
  padding-top: 50%;
  font-size: 2em;
}

.lose {
  color: #9b191b;
  align-self: center;
  padding-top: 50%;
  font-size: 1.8em;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  direction: rtl;
  background-color: #090909;
}

.hidden {
  display: none !important;
}

#stage1, #stage2 {
  display: flex;
  flex-direction: column;
}

#stage1 {
  flex-wrap: nowrap;
  justify-items: center;
}
#stage1 h1 {
  text-align: center;
  padding-top: 20%;
  color: #ef5d2f;
}
#stage1 input {
  align-self: center;
  margin-top: 25%;
  padding: 0.3rem;
  width: 60%;
  color: #ef5d2f;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #fff7eb;
}
#stage1 button {
  align-self: center;
  width: 50%;
  margin-top: 25%;
  padding: 0.5rem;
  background-color: #fff7eb;
  color: #ef5d2f;
  font-size: 1.5em;
}
#stage1 button:hover {
  background-color: #ffe3b8;
}

#stage2 {
  justify-items: center;
  flex-wrap: nowrap;
}
#stage2 .fir {
  color: #ef5d2f;
  align-self: center;
  padding-top: 20%;
  font-size: 1.7em;
}
#stage2 .chances {
  color: #fff7eb;
}
#stage2 input {
  align-self: center;
  margin-top: 25%;
  padding: 0.3rem;
  width: 60%;
  color: #ef5d2f;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #fff7eb;
}
#stage2 button {
  align-self: center;
  width: 50%;
  margin-top: 25%;
  padding: 0.5rem;
  background-color: #fff7eb;
  color: #ef5d2f;
  font-size: 1.5em;
}
#stage2 button:hover {
  background-color: #ffe3b8;
}
#stage2 .matn {
  color: #9b191b;
  align-self: center;
  padding-top: 10%;
  font-size: 2em;
}